<html>

<head>
    <title>addTask</title>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/addTask.js"></script>
</head>

<body>
    <h1>{{title}}</h1>
    <button id="backBtn">Back</button>
    <br>
    <br>
    <form id="taskForm">
        <lable>Task</lable>
        <input type="text">
        <br>
        <br>
        <lable>Status</lable>
        <select>
            <option>Complete</option>
            <option>InComplete</option>
            <br>
            <br>
            <lable>Owner</lable>
            <select>
                <option>Glory</option>
                <option>Subathra</option>
                <option>Priya</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Save">
            <input type="reset" value="Reset">



        </select>
    </form>
</body>

</html>