<html>

<head>
    <title>addusers</title>
    <script src="/js/jquery-3.6.1.js"></script>
    <script src="/js/addUser.js"></script>
</head>

<body>
    <h1>{{title}}</h1>
    <button id="backBtn">Back</button>
    <br>
    <br>
    <form id="userForm">
        <lable>User Name:</lable>
        <input type="text">
        <br>
        <br>
        <lable>Email</lable>
        <input type="email">
        <br>
        <br>
        <lable>Password</lable>
        <input type="password">
        <br>
        <br>
        <input type="submit" value="Save">
        <input type="reset" value="Reset">

    </form>
</body>

</html>