<html>

<head>
    <script src="js/jquery-3.6.1.js"></script>
    <script src="/js/tasks.js"></script>
    <link rel="stylesheet" href="/css/tasks.css">
    <title>tasks</title>

</head>

<body>
    <h1>Tasks</h1>
    <div>
        <a href="/users">Users</a>
        <a href="/tasks">Tasks</a>
    </div>
    <br>
    <br>
    <div id="div">
        <button id="addBtn">Add</button>
        <button id="editBtn">Edit</button>
        <button>Delete</button>
    </div>
    <br>
    <br>
    <table id="tasks">
        <thead>
            <tr>
                <th></th>
                <th>Task</th>
                <th>status</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Reading</td>
                <td>Completed</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Writing</td>
                <td> InCompleted</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Playing</td>
                <td>Completed</td>
            </tr>
        </thead>
    </table>
</body>

</html>