<html>

<head>
    <script src="js/jquery-3.6.1.js"></script>
    <script src="/js/users.js"></script>
    <link rel="stylesheet" href="/css/users.css">
    <title>User</title>

</head>

<body>
    <h1>Users</h1>
    <div>
        <a href="/users">Users</a>
        <a href="/tasks">Tasks</a>
    </div>
    <br>
    <br>
    <div id="div">
        <button id="addBtn">Add</button>
        <button id="editBtn">Edit</button>
        <button>Delete</button>
    </div>
    <br>
    <br>
    <table id="users">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>

        <body>
            <tr>
                <td><input type="checkbox"></td>
                <td>Glory</td>
                <td>glorysundar@gmail</td>
                <td>glory</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Subathra</td>
                <td>subathra@gmail</td>
                <td>subathra123</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>Priya</td>
                <td>saravanapriys@gmail</td>
                <td>priya123</td>
            </tr>
        </body>
    </table>
</body>

</html>